
body{
  margin: 0;
  background-color: rgb(231, 231, 231);
}

header{
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 10vh;
  background-color: black;
}

h1{
  position: relative;
  margin: 0px;
  left: 0px;
  padding-top: 10%;
  text-align: center;
  font-size: 7em;
  color: rgb(0, 0, 0);
  text-decoration: underline overline;
  text-transform: uppercase;
}

#navbarLink{
  position: absolute;
  margin: 0px;
  padding: 20px;
  right: 0%;
  top: 20px;
}

a{
  position: relative;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 1.2em;
}



#headerimg{
  position: absolute;
  top: 10px;
  width: 100px;
  height: 75px;
  margin-left: 5%;
}

main{
  width: 100vw;
  min-height: 90vh;
  margin: 0px auto;
  border-radius: 25px;
  border: 7px solid rgb(238, 235, 235);

  background-color: rgb(255, 255, 255);
}

#contentdiv{
  padding: 0px;
  margin: 0px;
  width: 100vw;
  min-height: 90vh;
  background-image: url(https://cdn.britannica.com/25/93825-050-D1300547/collection-newspapers.jpg);
  background-size: cover;
}
